.Footer{
    display: flex;
    align-items: center;
    background: #000000;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    gap: 10px;
    --max-width: 1680px;
    --container-padding: 1rem;
    width: min(var(--max-width), 100% - (var(--container-padding) * 2));
    margin-inline: auto;
    padding: 1em 4em;
}

.Footer img{
    width: 150px;
    cursor: pointer;
}

@media  only screen and (max-width: 650px)
{
    .Footer{
        font-size: 0.6rem;
    }
    .Footer img{
        transform: scale(0.8);
    }
}